*{
    margin: 0;
    padding: 0;
}
#heading{
   margin-left: 5px;
}
.box{
    height: 100px;
    width: 100px;
    background-color: aqua;
    margin: 5px;
    border: 2px solid black;
    
}
#container{
    height:400px;
    width: 400px;
    border: 2px solid black;
    margin: 5px;
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}
#box1{background-color: blue;}
#box2{background-color: brown;}
#box3{background-color:blueviolet}
#box4{background-color:coral}